@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #260A0A, #D91414);
}

main{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #260A0A;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8C0303;
    text-align: center;
    text-shadow: 1px 1px 0px #260A0A;
}

h2{
    color: #400812;
}

p{
    text-align: justify;
}
